@import "../../styles/variables";

.iyb-marquee-vertical {
  overflow: hidden;
  height: 20px;
}

.iyb-marquee-landscape {
  overflow: hidden;
  position: relative;
  height: 20px;
  width: 100px;

  .iyb-marquee-landscape-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 20000px;
    overflow: hidden;

    .iyb-marquee-landscape-item {
      float: left;
    }
  }
}

